# python-cache
__pycache__/
*.py[cod]
.pytest_cache/*
.python-version

# jupyter-notebooks
notebooks/.ipynb_checkpoints
.ipython/*

# test-coverage
.coverage

# celery
celerybeat.pid

# Logs
logs/
local/
.vscode/settings.json
log.txt
